.img-container {
  position: relative;

  &__img {
    border-radius: 3%;
    box-shadow: 0.3px 0.8px 1.1px 0px #8d8d8d1c;
    width: 100%;
    height: 360px;
    display: block;
    border-radius: 8px;
    object-fit: cover;
  }
}
