.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(241, 236, 236);

  &__img-list {
    align-items: center;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    list-style: none;
    padding: 2.5rem;

    @include media(xl) {
      grid-template-columns: 1fr 1fr;
    }

    @include media(s) {
      grid-template-columns: 1fr;
      height: 550px;
    }
  }
}
