.overlay-container {
  @include flex(center, center, column, 0.8rem);
  background-color: rgba(0, 0, 0, 0.436);
  border-radius: 3%;
  bottom: 0;
  color: white;
  font-size: 0.8rem;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity 0.3s ease;
  z-index: 1;

  @include media(s) {
    @include flex(center, center, column, 0.2rem);
    font-size: 0.6rem;
  }

  &__owner {
    font-weight: 600;
    margin-top: 15%;
  }

  &__border {
    border-top: 2px solid white;
    width: 6rem;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    @include media(s) {
      font-size: 1rem;
      white-space: normal; 
    }
  }

  %commonButtonStyles {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0.6rem 0.5rem;
    text-align: center;
  }

  &__button {
    @extend %commonButtonStyles;
    background-color: transparent;
    font-size: 1.3rem;
    width: 8rem;

    @include media(s) {
      font-size: 0.8rem;
      width: 7rem;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.379);
    }
  }

  &__activeButton {
    @extend %commonButtonStyles;
    background-color: red;
    font-size: 1.3rem;
    width: 18rem;

    @include media(s) {
      font-size: 0.8rem;
      width: 12rem;
    }

    &:hover {
      background-color: rgba(255, 0, 0, 0.661);
    }
  }
}
